@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <ul class="course" style="list-style: none">
        @foreach (var course in Model.UpCommingCourses)
        {
            <li style="position: relative; margin-bottom: 30px">
                <div class="date" style="text-align: center; background-color: #d41d50; color: white; width: 60px; border-radius: 8px">
                    <div class="month">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="detail" style="position: absolute; top: 0px; left: 70px">
                    <span class="lecture">
                        @course.Lecturer.Name
                        @if (Model.ShowAction)
                        {
                            <button data-user-id="@course.LecturerId" class="btn btn-default btn-sm js-toggle-follow">Follow</button>
                        }
                    </span>
                    <span class="category">
                        @course.Category.Name
                    </span>
                    @if (Model.ShowAction)
                    {
                        <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendace">Going?</button>
                    }
                </div>
            </li>
        }
    </ul>
    @section scripts
{
        <script>
            $(document).ready(function () {
                $(".js-toggle-attendace").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/attendances", { courseId: button.attr("data-course-id") })
                        .done(function () {
                            button.removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going");
                        })
                        .fail(function () {
                            alert("Something goes wrong");
                        });
                });
                $(".js-toggle-follow").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                        .done(function () {
                            button.text("Following")
                        })
                        .fail(function () {
                            alert("Something goes wrong");
                        });
                });
            });
        </script>
    }
</div>